# Autotools junk at top level
/autom4te.cache/
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1

# Various tool outputs in all dirs
Makefile
Makefile.in
.dirstamp
.deps
.libs
*.o
*.so
*.lo
*.la
*.gcov
*.trucov
*.info
*.gcda
*.gcno
*.tmp
*.log
*.trs
*~

# Generated manpages
*.[0-9]

# built binary
vnm_validate
