Source: libvmod-netmapper
Section: web
Priority: extra
Maintainer: Brandon Black <bblack@wikimedia.org>
Build-Depends: debhelper (>= 9), autotools-dev, dh-autoreconf, varnish (>= 3), libjansson-dev, liburcu-dev
Standards-Version: 3.9.3
Homepage: https://git.wikimedia.org/summary/operations/software/varnish/libvmod-netmapper
#Vcs-Git: https://gerrit.wikimedia.org/r/operations/software/varnish/libvmod-netmapper
#Vcs-Browser: https://git.wikimedia.org/summary/operations/software/varnish/libvmod-netmapper

Package: libvmod-netmapper
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, varnish (>= 3)
Description: Varnish VMOD for mapping IP networks to strings
 Loads a JSON database mapping networks to strings, matches IP addresses
   against this database.

Package: libvmod-netmapper-dbg
Architecture: any
Depends: libvmod-netmapper (= ${binary:Version}), ${misc:Depends}
Section: debug
Description: Varnish VMOD for mapping IP networks to strings (debug symbols)
 Debug symbols for libvmod-netmapper
